@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.menubar-text {
	font:menu!important;
	font-weight:bold!important;
	padding-top:2px!important;
	padding-bottom:2px!important;}

menubar > menu {
	-moz-appearance:none!important;
	background:transparent!important;}

menubar > menu[_moz-menuactive="true"]:not([disabled="true"]):active,
menubar > menu[_moz-menuactive="true"][open="true"]{
	color:HighlightText!important;
	background:Highlight!important;}

#nav-bar,
#TabsToolbar,
#PersonalToolbar {
	-moz-appearance: none !important;
	background:none !important;}

/*#######TABS##################################*/
#main-window .tabbrowser-tabs {
	-moz-appearance: none !important;
	margin-top: 5px !important;
	margin-bottom: 0px !important;
	background: none !important;}

#main-window .tabbrowser-tabs tab {
	-moz-appearance: tab !important;
	color: -moz-DialogText !important;
	padding-top:4px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-bottom:3px !important;}

#main-window .tabbrowser-tabs tab [selected="true"] {
	margin-bottom: 2px !important;}

#main-window .tabbrowser-tabs .tab-close-button {
	-moz-appearance: button !important;
	padding: 4px !important;
	margin-top:1px !important;}

#main-window .tabs-newtab-button {
	width: 26px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	background-image: none !important;
	border: none !important;}

/*#####################misc stuff*/

#main-area{
	border-top: 1px solid rgba(0,0,0,0.3) !important;}
	
#urlbar,
.searchbar-textbox {
  box-shadow: none !important;
  padding:1px!important;}

#identity-box{
border: none!important;
background:none!important;}

#appmenu-toolbar-button {
-moz-appearance: none!important;
display: none!important;}

/*ScollBar fixes*/
scrollbar[orient="vertical"] {
-moz-appearance: none ! important;
background:rgba(0,0,0,0.3) !important;
border-left:1px solid rgba(255,255,255,0.1) !important;}

scrollbar[orient="horizontal"] {
-moz-appearance: none ! important;
background:rgba(0,0,0,0.3) !important;
border-top:1px solid rgba(255,255,255,0.1) !important;}

scrollbar gripper,
scrollcorner {
-moz-appearance: none !important;
background:rgba(0,0,0,0.3) !important;}

scrollbarbutton[sbattr="scrollbar-up-top"],
scrollbarbutton[sbattr="scrollbar-down-bottom"]{
	display: none !important;}

#notification-popup-box {
background-color: rgba(0,0,0,0.05)!important;
-moz-margin-end: 0!important;
border: 0!important;
border-radius:0px!important;
border-right:1px solid rgba(0,0,0,0.3)!important;
padding-right:3px!important;
}

/*About:Addons*/
@-moz-document url("about:addons") {
	:root {
		background:Window!important;}}
