* {
border-color:@genborder;
padding:2px;}

GtkWindow,
GtkWindow.background{
background: @window;}

*.background {
background: @window;
color: @windowtext;}

*:insensitive {
-gtk-image-effect:dim;
color: @inactivewindowtext;}

*:selected,
*:selected:focus,
*.background:selected {
color: @hilighttext;
background: @hilight;}

GtkLabel,
GtkImage{
background:transparent;
padding:1px;}

GtkButton > GtkBox > GtkImage {
padding-top:3px;}

GtkButton > GtkBox > GtkLabel {
padding-top:0px;}


VteTerminal {
background:#000;
color:#fff;}
