menu,
.menu,
.csd menu,
.csd .menu{
padding:1px;
background:@basebg;
box-shadow:inset 1px 1px 0 0 @genborderdark, inset -1px -1px 0 0 @genborderdark;}

.menu>.menuitem{
background:@basebg;
padding:4px 10px;}

.menu>.menuitem:hover,
.popup:hover{
background:@hilight;
color:@hilighttext;}

/* more kindergarten here (o_O) */
.popover {
color: @windowtext;
border:1px solid @genborderdark;
background:@basebg;}
