Notification {
	color:grey;
	background:black;
	margin:0px;}

QLabel {
	color:white;}

#appLabel,
#summaryLabel {
	font:bold;}

#closeButton {
	qproperty-iconSize:22px;
	border: none;
	qproperty-icon: url(images/close.svg);}

QPushButton{
	background:black;
	border:none;
	color:palette(highlight);}
